.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding: 250px 50px; /* Отступы сверху и снизу 250px, слева и справа 50px */
  position: relative;
  overflow: hidden; /* Запретить прокрутку для .App */
  text-align: center;
}

.status-message {
  text-align: center;
  position: fixed; /* Оставляем фиксированным */
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #333;
  z-index: 1; /* Обеспечить, чтобы надпись была выше других элементов */
}



.input-container {
  display: flex;
  align-items: center;
  width: calc(80% - 20px);
  position: fixed; /* Оставьте фиксированным */
  bottom: 50px; /* Отступ от низа 50 пикселей */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px; /* Отступ сверху для контейнера */
}

.input-field {
  width: 100%;
  height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(0deg, rgba(208, 208, 208, 0.50) 0%, rgba(208, 208, 208, 0.50) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
  box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.10) inset;
  border-radius: 12px;
  color: #545454;
  font-size: 17px;
  font-family: 'SF Pro', sans-serif;
  font-weight: 510;
  line-height: 22px;
  word-wrap: break-word;
  margin-right: 10px;
}

.submit-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submit-button.disabled {
  pointer-events: none;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Убедитесь, что модальное окно выше других элементов */
}

.modal-content {
  background-color: #ffcc00; /* Цвет окна */
  padding: 20px; /* Отступы внутри окна */
  border-radius: 8px;
  width: calc(100% - 100px); /* Полная ширина с учетом отступов */
  max-width: 100%; /* Максимальная ширина окна */
  height: calc(80% - 100px); /* Высота окна */
  margin: 250px 0; /* Отступы по 50 пикселей сверху и снизу */
  text-align: center; /* Выравнивание текста по центру */
}

